//http://paletton.com/#uid=23L0u0kw0w0jyC+oRxVy4oIDfjr

// As hex codes */

$color-primary-0: #1240AB;	// Main Primary color */
$color-primary-1: #5777C0;
$color-primary-2: #365BB0;
$color-primary-3: #0D3184;
$color-primary-4: #082568;

$color-complement-0: #FFAA00;	// Main Complement color */
$color-complement-1: #FFCB63;
$color-complement-2: #FFBD39;
$color-complement-3: #C58300;
$color-complement-4: #9B6700;

// As RGBa codes */

$rgba-primary-0: rgba( 18, 64,171,1);	// Main Primary color */
$rgba-primary-1: rgba( 87,119,192,1);
$rgba-primary-2: rgba( 54, 91,176,1);
$rgba-primary-3: rgba( 13, 49,132,1);
$rgba-primary-4: rgba(  8, 37,104,1);

$rgba-complement-0: rgba(255,170,  0,1);	// Main Complement color */
$rgba-complement-1: rgba(255,203, 99,1);
$rgba-complement-2: rgba(255,189, 57,1);
$rgba-complement-3: rgba(197,131,  0,1);
$rgba-complement-4: rgba(155,103,  0,1);

$main-background: white;
$light-grey-background: rgb(166, 166, 166);

$main-text-light: rgba(0, 0, 0, .5);
$main-text-dark: black;
