//http://paletton.com/#uid=23L0u0kw0w0jyC+oRxVy4oIDfjr



// As hex codes */

$color-primary-0: #0772A1;	// Main Primary color */
$color-primary-1: #4D98B8;
$color-primary-2: #2B81A6;
$color-primary-3: #05587C;
$color-primary-4: #034562;

$color-complement-0: #FF8700;	// Main Complement color */
$color-complement-1: #FFB663;
$color-complement-2: #FFA239;
$color-complement-3: #C56800;
$color-complement-4: #9B5200;

// As RGBa codes */

$rgba-primary-0: rgba(  7,114,161,1);	// Main Primary color */
$rgba-primary-1: rgba( 77,152,184,1);
$rgba-primary-2: rgba( 43,129,166,1);
$rgba-primary-3: rgba(  5, 88,124,1);
$rgba-primary-4: rgba(  3, 69, 98,1);

$rgba-complement-0: rgba(255,135,  0,1);	// Main Complement color */
$rgba-complement-1: rgba(255,182, 99,1);
$rgba-complement-2: rgba(255,162, 57,1);
$rgba-complement-3: rgba(197,104,  0,1);
$rgba-complement-4: rgba(155, 82,  0,1);
/////////////////////////////////////////////////////////////////////


//Additional Colors:
$background-1: rgb(217, 217, 217);
$background-2: rgb(190, 190, 190);
$background-3: rgb(166, 166, 166);

$main-text-1: rgba(0, 0, 0, .5);
$main-text-2:  rgba(0, 0, 0, .85);
