

.common-view{

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f3f3f+0,0e0e0e+100 */
  //background: #3f3f3f; /* Old browsers */
  //background: -moz-linear-gradient(top,  #3f3f3f 0%, #0e0e0e 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(top,  #3f3f3f 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to bottom,  #3f3f3f 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  background: rgb(204, 204, 204);

  width: 93%;
  min-height: 93%;

  border-radius: 4px;

  margin: auto;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.section-title{
  color: $color-primary-3;
  text-align: center;
  padding: 5px;
  font-size: 250%;
}

.general-alert{
  margin: auto;
  width: 70%;
  margin-top: 15px;
}

.widget-comp-0{
  background: $color-complement-0;
  color: $main-text-light;

  &:hover{
    background: $color-complement-4;
    color: $main-text-dark;
  }
}
