
.inventory-table-entry{

  border: 1px solid white;
  margin: 10px;
  padding: 15px 0;
}

.inventory-table-entry:hover{
  border: 2px solid orange;
}

.inventory-table-entry .item-edit-buttons{

  width: 180px;
  padding: 10px;
  margin: auto;
}

.inventory-table-entry .item-edit-buttons button{
  font-size: 140%;
  width: 80px;
  height: 60px;
}

.inventory-table-entry .delete-item-alert{
  width: 200px;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 10px;
}

.inventory-row{
  text-align: center;
  padding: 10px;
}

.inventory-info-section{

  text-align: left;

  width: 50%;
  text-align: center;
  margin: auto;
}

.inventory-info-section table{
  width: 100%;
  text-align: center;
}

.inventory-info-section table td{
  border: 1px solid white;
  padding: 10px 15px;
  vertical-align: center;
}

@media only screen
and (max-device-width: 768px){
  .inventory-info-section{
    width: 90%;
  }

  .inventory-table-entry .item-edit-buttons button{
    font-size: 120%;
    height: 80px;
  }

  .inventory-table-entry .delete-item-alert{
    width: 300px;
  }

  .inventory-table-entry .delete-item-alert .btn{
    font-size: 100%;
  }
}
