
.inventory-table-entry{

  border: 1px solid white;
  margin: 10px;
  padding: 15px 0;
}

.inventory-table-entry:hover{
  border: 2px solid orange;
}

.inventory-row{
  text-align: center;
  padding: 10px;
}

.inventory-info-section{

  text-align: left;

  width: 50%;
  text-align: center;
  margin: auto;
}

.inventory-info-section table{
  text-align: center;
}

.inventory-info-section table td{
  border: 1px solid white;
  padding: 10px 15px;
  vertical-align: center;
}

@media only screen
and (max-device-width: 768px){
  .inventory-info-section{
    width: 90%;
  }
}
