
@import "../../../../styles/colors.scss";

.common-info-section{

  .row{
    margin-top: 25px;

    .customer-label{
      padding: 10px;
      font-weight: bold;

      border-top: 1px solid $color-primary-1;
    }

    .customer-info{
      padding: 10px;
      text-align: left;

      border-top: 1px solid $color-primary-1;

    }
  }
}

@media only screen
and (max-device-width: 768px) {

  .common-info-section{
    .row{
      .customer-info{    
        text-align: center;
      }
    }
  }
}
