
.common-view{

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f3f3f+0,0e0e0e+100 */
  background: #3f3f3f; /* Old browsers */
  background: -moz-linear-gradient(top,  #3f3f3f 0%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3f3f3f 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3f3f3f 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

  width: 93%;
  height: 93%;

  border-radius: 4px;

  margin: auto;
}
