/*Author: Josh Bass*/
/*Description: This sheet contains some base styles mostly used by the components laid out in main.js*/

@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import('../../../node_modules/react-datepicker/dist/react-datepicker.css');

@import "./global.css";
@import "./common-styles.css";

body {

  height: 100vh;
  width: 100vw;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c198e+0,3f0e84+50,180b23+100 */
  background: #4c198e; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c198e 0%, #3f0e84 50%, #180b23 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4c198e 0%,#3f0e84 50%,#180b23 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4c198e 0%,#3f0e84 50%,#180b23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c198e', endColorstr='#180b23',GradientType=0 ); /* IE6-9 */

  overflow: hidden;
}

#react-body {

  overflow: hidden;
}

.header-area{
  height: 50px;
  width: 100vw;
}

.nav-no-width{
  width: 0%;
}

.main-area{

  height: calc(100vh - 50px);
  height: -moz-calc(100vh - 50px);

  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  padding: 25px;
}

.main-holder{
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  transition: width .5s;
  width: 83vw;
}

.main-holder-no-nav-bar{
  width: 100vw;
}

.mast-panel{
  padding-bottom: 60px;
}

@media only screen
and (max-device-width: 768px)
and (orientation: portrait) {
  .header-area{
    height: 150px;
  }

  .main-area{

    height: calc(100vh - 150px);
    height: -moz-calc(100vh - 150px);
  }
}
