
@import "../../../../styles/colors.scss";

.create-inventory{

  .inventory-mod-button {
    margin: 5px;
    float: right;
  }

  .inventory-mod-button {
    margin: 5px;
    float: right;
  }
}

.add-inventory {

  border: 1px solid $color-primary-1;
  border-radius: 2px;

  width: 50%;
  margin: auto;
  margin-bottom: 10px;

  .inventory-create-row{
    margin: 10px;
  }

  .inventory-input-field{
    color: black;
    width: 100%;
  }

  .inventory-file-input{
    color: white;
  }

  .inventory-input-field{

    .inventory-date-field{
      color: black;
      float: left;
      width: 100%;
    }
  }

  .inventory-create-buttons{
    width: 50%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  .react-datepicker__input-container{
    width: 100%;
  }

}


@media only screen
and (max-device-width: 768px) {
  .create-inventory{

    .inventory-mod-button {
      font-size: 115%;
    }
  }

  .add-inventory{
    .inventory-create-buttons .btn{
      font-size: 100%;
    }

    .inventory-file-input{
      padding-top: 25px;
    }
  }
}
