
@import "../../../../styles/colors.scss";

.inventory-view {
  color: $color-primary-4;
}

.btn-file {
  position: relative;
  overflow: hidden;
  input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
}

@media only screen
and (max-device-width: 768px) {

  .inventory-view {
    font-size: 300%;
  }
}
