

@import "../../../../styles/colors.scss";

.common-info-section{

  table{
    width: 100%;
    text-align: center;
    border-radius: 4px;

    td{
      border: 1px solid $color-primary-1;
      border-radius: 4px;
      padding: 10px 15px;
      vertical-align: center;
    }
  }
  img{
    border-radius: 4px;
    margin: 10px;
  }
}
