/*Author: Josh Bass*/
/*Description: Style information for the mast diagnostic header bar which sits atop the display*/
.header-bar {

  // background: #45484d; /* Old browsers */
  // background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  // background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  background: #222;

  //border-radius: 4px;
  height: 100%;
  color: white;

  .menu-glyph {

    margin-top: 8px;
    padding: 5px;
    font-size: 150%;
    border-radius: 5px;
    color: white;

    &:hover {
      background: orange;
      color: black;
    }
  }

  .nav-button {
    margin-left: 25px;
  }

  .user-name {
    position: absolute;
    padding: 10px;
    right: calc(1% + 30px);
    font-size: 150%;
  }

  .logout-button {
    position: absolute;
    right: 1%;
  }
}

@media only screen
and (max-device-width: 768px)
and (orientation: portrait) {

  .header-bar {

    .user-name {
      display: none;
    }

    .menu-glyph {
      margin-top: 30px;
      font-size: 500%;
    }
  }
}
